{{ define "404" }}
    <!DOCTYPE html>
    <html lang="de">
    {{ template "head" . }}
    <body>
    {{ template "header" . }}
    <main>
        <h1>Error 404</h1>
        <p>Die angefragte Seite konnte leider nicht gefunden werden.</p>
        <img src="https://httpcats.com/404.jpg" alt="Cat Error 404"/>
    </main>
    {{ template "footer" . }}
    </body>
    </html>
{{ end }}