{{ define "footer"}}
    <footer>
        {{- if .LastMod }}{{- if not .LastMod.IsZero }}
            <p>Diese Seite wurde zuletzt am {{ .LastMod.Format "02.01.2006" }} geändert.</p>
            <p>--</p>
        {{ end -}}{{ end -}}
        {{- if .Year }}
            <p>&copy; {{ .Year }} Malte Kasolowsky</p>
        {{ end -}}
    </footer>
{{ end }}
