{{ define "header" }}
    <header>
        <ul>
            <li>
                <a href="/">Start</a>
            </li>
            <li>
                Seiten
                <ul>
                    {{ range .Menu }}
                        <li><a href="/pages/{{ . }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
            </li>
        </ul>
    </header>
{{ end }}